#fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.left {
  position: absolute;
  left: 0;
  width: 300;
}

.right {
  position: absolute;
  right: 0;
  width: 300;
  font-size: 120%;
}

#image {
  height: 2000px;
  width: 500px;
}
